/* css stylesheet */


/* global */

body {
    font-family: "Times New Roman", cursive;
    background-color: #F2FBE0;
    margin: 50px 20%;
}

h1.title {
    text-align: center;
    font-weight: bold;
    color: #403D3A;
}

p,
ul,
ol {
    color: #4B4744;
    margin: 10px;
}

hr {
    height: 1px;
    background-color: #7C975E;
    margin: 30px 10px;
}


/* main/home page */

.card {
margin: 8px 300px;
background-color: white;
padding: 8px;
border-radius: 10px;
}

#odin-recipes {
    padding: 8px;
    margin-top: 0px;
    border-radius: 50px;
    background-color: #DAFEB7;
}

.menu-list {
    font-size: large;
    background-color: white;
}

.menu-list a {
    color: #605B56;
    background-color: white;
    display: block
}


/* recipe pages */

.dish {
    color: #7C975E;
    padding: 8px 24px;
    margin: 8px 30%;
    border-radius: 50px;
}

.dish-image {
    height: auto;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description.header {
    font-size: x-large;
}

.header {
    color: #41502A;
    margin: 10px;
}

.sub-header{
    color: #7C975E;
    margin-top: 0px;   
}

.block {
    display: inline-block;
    margin: 10px;
    background-color: white;
    padding: 8px 24px;
    border-radius: 30px;
}

.sub-header-1{
    vertical-align: top;
    padding-bottom: 45px;
}

.header.steps{
    margin-top: 30px;
}
