/* css stylesheet */


/* global */

body {
    font-family: "Times New Roman", cursive;
    background-color: #F2FBE0;
}

h1.title {
    font-weight: bold;
    color: #403D3A;
    background-color: #DAFEB7; /* ugly color */ 
}

p,
li {
    color: #4B4744;
}

hr {
    height: 1px;
    background-color: #7C975E;
    margin: 8px;
}


/* main/home page */

.card {
margin: 8px 300px;
background-color: white;
padding: 8px;
border-radius: 10px;
}

#odin-recipes {
    text-align: center;
    padding: 8px;
    margin-top: 0px;
    border-radius: 50px;
}

.menu-list {
    font-size: large;
    background-color: white;
}

.menu-list a {
    color: #605B56;
    background-color: white;
    display: block
}


/* recipe pages */
.dish-image {
    height: auto;
    width: 400px;
}

.description.header {
    font-size: x-large;
}

.header {
    color: #41502A;
}

.sub.header{
    color: #7C975E;
}