/* css stylesheet */


/* global */
* {
    background-color: #F2FBE0;
}

body {
    font-family: "Times New Roman", cursive;
}

h1.title {
    font-weight: bold;
    color: #403D3A;
    background-color: #DAFEB7; /* ugly color */ 
}

p,
li {
    color: #4B4744;
}

hr {
    height: 1px;
    background-color: #7C975E;
    margin-top: 30px;
}


/* main/home page */
#odin-recipes {
    text-align: center;
}

.menu-list {
    font-size: large;
    margin-left: 350px;
}

.menu-list a {
    color: #605B56;
}


/* recipe pages */
.dish-image {
    height: auto;
    width: 400px;
}

.description.header {
    font-size: x-large;
}

.header {
    color: #41502A;
}

.sub.header{
    color: #7C975E;
}